.dark {
    background: dimgrey;
    height: 100%;
    text-align: center;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
    height: 100%;
    text-align: center;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
    height: 100%;
    text-align: center;
}

.some-text {
    color: darkslateblue;
}

.purple {
    background: #ce2cfc;
    height: 100%;
    text-align: center;
}
.item {

    text-align: center;
    display: block;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}