.borromhw6{

    margin-top: 20px;
    /*margin-left: 20px;
    text-align: center;*/
}

.window{
    display: flex;
    /*margin-left: 20px;
    text-align: center;
    margin-top: 20px;*/
    text-align: center;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    height: 50vh;
    color: white;
    background-color: #222425ed;
}