.item{



    flex-direction: column;
    min-width: 100vh;
    font-size: 40px;
    color: white;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: flex;
}
.date{
    color: rgba(255, 255, 255, 0.14);
    font-size: 20px;
    text-align: center;
}
.click{
    text-align: center;
}
.container{
    background-color: rgb(34 35 36);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    color: white;
}
.cont{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    text-align: center;
    display: flex;
    background-color: #222425ed;
}
.contRed{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    text-align: center;
    display: flex;
    background: lightcoral;
}
.header{
    display: flex;
    color: white;
}