
/*.item {
    background-color: yellowgreen ;

}

.item img {
    box-shadow: 0 0 0 3px green, 0 0 13px #333;
    border-radius: 300px;
    width: 100px;
    height: 100px;
}*/

body{background-color: rgba(45, 45, 45, 0.82);}


.balloon{
    color: white;
    display: block;
    position: absolute;
    left: 450px;
    top: 150px;
    width: 200px;
    height: 60px;
    color: white;
    background-color: rgb(34 35 36);

    padding: 10px;
    border-radius: 6px;

}
.balloon>.arrow{

    position:absolute; left:-10px; top:50%; margin-top:-8px;
    display:block;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
}

