.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;

}
.item{
    display: flex;
    align-items: center;
    justify-content: center;

}
.messange{
    border-radius: 00px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    text-align: center;
    display: flex;
    background-color: #e5e6e6ed;

}